.create-box(@bg-color, @size) {
    background-color: @bg-color;
    width: unit(@size, px);
    height: unit(@size, px);
    border: 2px solid @color-black;
    border-radius: 8px;
    display: inline-block;
    margin: 10px;
}
